.home{
    height: auto;
    min-height: 100vh;
    background: #212324;
    color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.home img{
    width: 250px;
    margin: 15px;
    transition: all 0.7s ease;
    border-radius: 10px;
    cursor: pointer;
}

.home img:hover{
    transform: scale(1.13);
    border: 2px solid whitesmoke;
    border-radius: 10px 10px 0 0;
}

.species-1{
    background-color: #212832;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.species-2{
    background-color: #304e5b;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

