.home{
    /* height: auto; */
    background: #212324;
    color: whitesmoke;
    width: 100%;
}
.home-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    margin: 20px 0;
}

button{
    font-size: 17px;
    border: 1px solid gray;
    padding: 5px;
    background: #212832;
    color: #f3b542;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    transition: 1s ease;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    border: 2px solid white;
}